<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName, "Nombre" %>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName, "Apellidos" %>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone, "Telefono" %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :dni, "DNI" %>
    <%= f.text_field :dni %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "button"%>
  </div>
<% end %>
