<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Prestatarios</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Dni</th>
        <th>Deuda Total</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firstName %></td>
          <td><%= user.lastName %></td>
          <td><%= user.address %></td>
          <td><%= user.phone %></td>
          <td><%= user.dni %></td>
          <td><%= user.totalDebt %></td>
          <td><%= link_to 'Mostrar', user %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          <td><%= link_to 'Prestar Dinero', new_user_loan_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Prestatario', new_user_path %>
</div>
