
<div class="container">
<div class="container-top">
  <h2>Prestamos de </h2>
  <h3> <%= @user.firstName %></h3>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Apellidos:</strong>
    <%= @user.lastName %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= @user.dni %>
  </p>

  <p>
    <strong>Deuda Total:</strong>
    <%= @user.totalDebt %>
  </p>
</div>
<div class="loans">
  <h4 class="text-center"> Mis Prestamos :</h4>
  <table class="text-center">
    <thead>
      <tr>
        <th>Fecha de Desembolso</th>
        <th>Monto</th>
        <th>Interés diario</th>
        <th>Plazo (en días)</th>
        <th>Tipo de Amortización</th>
        <th>Detalle</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.dateLoan %></td>
          <td><%= loan.amount %></td>
          <td><%= loan.dailyInterest %></td>
          <td><%= loan.term %></td>
          <td><%= loan.typeAmortization %></td>
          <td><%= loan.detail %></td>
          <td><%= link_to 'Mostrar Tabla de amortización',  user_loan_payments_path(@user,loan) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  
  <%= link_to 'Añadir Prestamos', new_user_loan_path(@user)%> |
  <%= link_to 'Regresar', users_path %>
  
</div>

