<div class="container">
	<% if notice %>
  	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<% if admin_signed_in? %>
		<%= link_to "Cerrar Sesión", destroy_admin_session_path, method: :delete, :class => 'button'  %>
	<% end %>
</div>