<%= form_for([@user,@loan]) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :dateLoan , "Fecha de Desembolso" %>
    <%= f.date_select :dateLoan %>
  </div>
  <div class="field">
    <%= f.label :amount , "Monto" %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :typeLoan , "Periodo de Amortizacíón" %>
    <%= f.select :typeLoan , options_for_select([["Diario", "Diario"], ["Semanal", "Semanal"], ["Mensual","Mensual"]])  %>
  </div>
  <div class="field">
    <%= f.label :typeAmortization , "Periodo de Amortizacíón" %>
    <%= f.select :typeAmortization , options_for_select([["Cuotas Constantes", "Cuotas Constantes"]])  %>
  </div>
  <div class="field">
    <%= f.label :dailyInterest, "Interés Diario" %>
    <%= f.text_field :dailyInterest %>
  </div>
  <div class="field">
    <%= f.label :term ,"Plazo (en días)" %>
    <%= f.number_field :term %>
  </div>
  <div class="field">
    <%= f.label :detail, "Detalles" %>
    <%= f.text_area :detail , rows: "4"  %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" , class: "button" %>
  </div>
<% end %>
