<div class="container">  
  <p id="notice"><%= notice %></p>

  <h1>Prestamos</h1>

  <table>
    <thead>
      <tr>
        <th>Persona</th>
        <th>Fecha de Desembolso</th>
        <th>Monto</th>
        <th>Interés diario</th>
        <th>Plazo (en días)</th>
        <th>Detalle</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.people %></td>
          <td><%= loan.dateLoan %></td>
          <td><%= loan.amount %></td>
          <td><%= loan.dailyInterest %></td>
          <td><%= loan.term %></td>
          <td><%= loan.detail %></td>
          <td><%= link_to 'Show', loan %></td>
          <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
          <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Prestamo', new_person_loan_path %>
</div>
