<p id="notice"><%= notice %></p>

<p>
  <strong>People:</strong>
  <%= @loan.people %>
</p>

<p>
  <strong>Dateloan:</strong>
  <%= @loan.dateLoan %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<p>
  <strong>Dailyinterest:</strong>
  <%= @loan.dailyInterest %>
</p>

<p>
  <strong>Term:</strong>
  <%= @loan.term %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @loan.detail %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loan_people_path %>
