<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :loan_id %><br>
    <%= f.text_field :loan_id %>
  </div>
  <div class="field">
    <%= f.label :datePay %><br>
    <%= f.date_select :datePay %>
  </div>
  <div class="field">
    <%= f.label :inicialBalance %><br>
    <%= f.text_field :inicialBalance %>
  </div>
  <div class="field">
    <%= f.label :amortization %><br>
    <%= f.text_field :amortization %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :fee %><br>
    <%= f.text_field :fee %>
  </div>
  <div class="field">
    <%= f.label :finalBalance %><br>
    <%= f.text_field :finalBalance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
