<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Lista de Pagos</h1>

  <table>
    <thead>
      <tr>
        <th>Número</th>
        <th>Fecha de Pago</th>
        <th>Saldo inicial</th>
        <th>Amortización</th>
        <th>Intereres</th>
        <th>Cuota</th>
        <th>Saldo Final</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
    <% @number = 1 %>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= @number %></td>      
          <td><%= payment.datePay %></td>
          <td>S/. <%= payment.inicialBalance %></td>
          <td>S/. <%= payment.amortization %></td>
          <td>S/. <%= payment.interest %></td>
          <td>S/. <%= payment.fee %></td>
          <td>S/. <%= payment.finalBalance %></td>
          <% if payment.state == 0 %> 
            <td><%= link_to "Pagar" , payments_pay_path(@user,@loan,payment) , method: :post  %></td>
          <% else %>
            <td><strong class="red text-center">Pagado</strong>
          <%end %>
        </tr>
        <% @number = @number + 1 %>
      <% end %>
      <td> <b>Total</b></td>
      <td> </td>
      <td></td>
      <td>S/. <%= @totalAmortization %></td>
      <td>S/. <%= @totalInterest %></td>
      <td>S/. <%= @totalFee %></td>
    </tbody>
  </table>
  <% if @quantity == 0 %>
    <%= button_to "Generar Amortizacion", { action: "create" } , class: "button"  %>
  <% else %>
    <%= link_to "Generar Documento" , user_loan_payments_path(format: "pdf"),  class: "button"  %>
  <% end %>


</div>
