<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<p>
  <strong>Loan:</strong>
  <%= @payment.loan %>
</p>

<p>
  <strong>Datepay:</strong>
  <%= @payment.datePay %>
</p>

<p>
  <strong>Inicialbalance:</strong>
  <%= @payment.inicialBalance %>
</p>

<p>
  <strong>Amortization:</strong>
  <%= @payment.amortization %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @payment.interest %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @payment.fee %>
</p>

<p>
  <strong>Finalbalance:</strong>
  <%= @payment.finalBalance %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
