.icon-white{
	color:white;
}
.container{
	padding: 1em;
	width: 90%
}
.globalContainer{
	display: flex;
}
.loans {
	background: rgba(1,1,1,0.1);
}
.red {
	color: red;
	margin: 0;
	padding: 0;
	font-style: italic;
}

