<header class="Main-Header icon-bar vertical five-up">
	<%= link_to(root_path, class: "Header-menu item")  do %>
		<%= image_tag("home.svg") %>
		<label>Inicio</label>
	<% end %>
	<%= link_to(users_path, class: "Header-menu item")  do %>
		<%= image_tag("people.svg") %>
		<label>Personas</label>
	<% end %>


	<%= link_to(users_path, class: "Header-menu item")  do %>
		<%= image_tag("loan.svg") %>
		<label>Prestamos</label>
	<% end %>

	<%= link_to(users_path, class: "Header-menu item")  do %>
		<%= image_tag("collect-money.svg") %>
		<label>Cobranzas</label>
	<% end %>
</header>